/**
 * Styles for the cqfd theme.
 */

p {
  text-align: justify;
}

h1, b, strong, a{
  color: #482F0D!important;
}

.geo {
  display: none;
}


/* Carousel */
.carousel-inner {
  width: 80%;
  margin: auto;
}

.carousel-inner .img-responsive,
.carousel-inner .field-item {
  display: inline;
}

.carousel-indicators {
  display: none;
}

.carousel-control.right,
.carousel-control.left {
  background-image: none;
}

.carousel-control .icon-next,
.carousel-control .icon-prev {
  font-size: 100px;
  color: grey;
}

/* Menu */
.navbar-default .navbar-nav > .active > a, 
.navbar-nav > li > a:hover, 
.navbar-nav > li > a:active{ 
color:#74B331 !important;
 font-weight: bold;
 }
 
/*header*/
#page-header {
	height:100%;
	background-image:url(../images/accueil.png);
	/*padding-top: 36%;*/
}

#page-header p{
	padding-top: 25px;
	padding-bottom:25px;
	background-color: #472D0B;
	color: #ffffff;
} 

/*body*/
div.region-content img,
div.region-content iframe{
	border-radius: 0px / 65px;  
	box-shadow: 0 0 10px #555; 
	border-radius: 8px;
}

div.region-content h2, h2 > a{
   color: #74B331!important;
}

/*accueil*/

.panel-default > .panel-heading {
    background-color: transparent !important;
    border-color: #DDDDDD;
    color: #74B331 !important;
}

.panel {
box-shadow: 0 0 10px #555555;
}
 
/* Footer */
footer {
  background-color: #472D0B;
  text-align:center;
  color: #ffffff;
}

footer h2{
  text-align:center;
   color: #ffffff;
}

footer a {
  color: #ffffff;
}

footer .block:first-child h2.block-title {
  margin-top: 20px;
}

/* News */
div.field-name-post-date {
  font-style: italic;
  font-weight: bold;
  color: #482F0D;
}
