/**
 * Styles for the cqfd theme.
 */

body {
  font-family: "Radley", serif;
}

p {
  text-align: justify;
}

h1, b, strong, a{
  color: #482F0D;
}

.geo {
  display: none;
}


/* Carousel */
.carousel-inner {
  width: 80%;
  margin: auto;
  min-height: 550px;
}

.carousel-inner img{
  margin-bottom:20px;
  margin-left: 5px;
  margin-right: 5px;
  max-width: 210px;
}

.carousel-inner .img-responsive,
.carousel-inner .field-item {
  display: inline;
}

.carousel-indicators {
  display: none;
}

.carousel-control.right,
.carousel-control.left {
  background-image: none;
}

.carousel-control .icon-next,
.carousel-control .icon-prev {
  font-size: 100px;
  color: grey;
}

/* Menu */
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:active { 
  color:#74B331;
}
 
 .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
}
 
 .navbar {
    background-color: transparent;
    border-color: transparent;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    display: none;
}

.navbar-nav > li > a {
    font-size: 18px;
}

a.logo img {
  width: 200px;
}
 
/*header*/
#page-header {
	height:100%;
	background-image:url(../images/accueil.png);
	padding-top: 350px;
	background-repeat: no-repeat;
}

#page-header p{
	padding-top: 25px;
	padding-bottom:25px;
	padding-left: 30px;
	background-color: #472D0B;
	color: #ffffff;
	margin-bottom: 55px;
} 

/*body*/
div.region-content img,
div.region-content iframe{
	border-radius: 0px / 65px;  
	box-shadow: 0 0 10px #555; 
	border-radius: 8px;
}

div.region-content h2, h2 > a{
   color: #74B331;
}

/*accueil*/

body.front .page-header {
	display:none;
}


.panel-default > .panel-heading {
    background-color: transparent;
    border-color: #DDDDDD;
    color: #74B331;
}

.panel-heading > Eco-Construction{
	background-image:url(../images/ecoconstruction.png);
}

.front .panel {
  box-shadow: 0 0 10px #555555;
  max-width: 250px;
  min-height: 250px;
  margin: auto;
}

@media (min-width: 768px) {
  .home-panel-lower {
    margin-top: 100px;
  }
}

 
/* Footer */
footer {
  background-color: #472D0B;
  text-align:center;
  color: #ffffff;
}

footer h2{
  text-align:center;
   color: #ffffff;
}

footer a {
  color: #ffffff;
}

footer a:hover, 
footer a:active,
footer a:focus{ 
  color: #ffffff;
}

footer .block:first-child h2.block-title {
  margin-top: 20px;
}

footer #block-block-2 {
  font-size: 10px;
}

/* News */
div.field-name-post-date {
  font-style: italic;
  font-weight: bold;
  color: #482F0D;
}
